# --- СВОИ ЛОКАЛЬНЫЕ НАСТРОЙКИ ---
# --- СПИСОК ПРОКСИ-СЕРВЕРОВ (КЛЮЧИ) ---
proxies:
- name: 'PROXY'
  type: vless
  server: xxxxxxxxxx
  port: 443
  uuid: xxxxxxxxxx
  network: tcp
  udp: true
  flow: xtls-rprx-vision
  tls: true
  servername: xxxxxxxxxx
  reality-opts:
    public-key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    short-id: xxxxxxxxxx
  client-fingerprint: chrome


# --- ОБЩИЕ НАСТРОЙКИ ---
# --- Базовый конфиг -> https://rockblack.pro/mihomo_generator
#       WhatsApp: xkeen -ap 80,443,3478,46420
#       Telegram: xkeen -ap 80,443,596:599,1400,5222
#       Discord: xkeen -ap 80,443,50000:50030
#       Roblox: xkeen -ap 80,443,49152:65535
#       xbox cloud gaming: xkeen -ap 80,443,3544
#       Minecraft Java: xkeen -ap 80,443,25565

# --- Прокси-клиент работает на портах
#xkeen -ap 80,443,596:599,1400,3478,5222,25565,46420,49152:65535,50000:50030

# --- ОБЩИЕ НАСТРОЙКИ ЯДРА ---
redir-port: 1182
tproxy-port: 1181
mixed-port: 1080
tcp-concurrent: true
allow-lan: true
mode: rule
geo-auto-update: true
geo-update-interval: 168
log-level: silent
ipv6: false
external-controller: 0.0.0.0:9090
external-ui: ./zash
external-ui-url: "https://github.com/Zephyruso/zashboard/releases/latest/download/dist-cdn-fonts.zip"
secret: "P@ssw0rd"
geodata-mode: true
profile:
  store-selected: true
find-process-mode: "off"

# --- НАСТРОЙКИ СНИФФЕРА ---
sniffer:
  enable: true
  force-dns-mapping: true
  sniff:
    HTTP:
      ports: [80]
      override-destination: true
    TLS:
      ports: [443]
    QUIC:
      ports: [443]

# --- СЕКЦИЯ DNS ---
dns:
  enable: true
  listen: 0.0.0.0:7874
  ipv6: false
  cache-algorithm: arc
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  default-nameserver:
    - 1.1.1.1
    - 8.8.8.8
    - 208.67.222.222
    - 208.67.220.220
  nameserver:
    - https://dns10.quad9.net/dns-query
    - https://dns.aa.net.uk/dns-query
    - https://doh.opendns.com/dns-query
    - tls://dns.quad9.net
    - tls://1.1.1.1
    - tls://dns.opendns.com
  nameserver-policy:
    '+.supercell.net': 'https://dns.google/dns-query'
    '+.brawlstarsgame.com': 'https://dns.google/dns-query'
  fake-ip-filter-mode: blacklist
  fake-ip-filter:
    - '*.lan'
    - '*.local'
    - +.pool.ntp.org
    - +.msftconnecttest.com
    - +.3gppnetwork.org

# --- НАСТРОЙКИ GEO-ДАННЫХ ---
geox-url:
  geosite: "https://github.com/v2fly/domain-list-community/releases/latest/download/dlc.dat"
  geoip: "https://github.com/MetaCubeX/meta-rules-dat/releases/latest/download/geoip.dat"

# --- ГРУППЫ ПРОКСИ (ПОЛИТИКИ) ---
proxy-groups:

  - name: 'Gemini'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/331406/gemini.svg"

  - name: 'Speedtest'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/355484/speed.svg"
    
  - name: '18+'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/530357/peach.svg"

  - name: 'Apple'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/506958/clo-bowler.svg"

  - name: 'Fastly'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/353730/fastly.svg"
    
  - name: 'boosty'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/506958/clo-bowler.svg"

  - name: 'Discord'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/331368/discord-v2.svg"

  - name: 'Spotify'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/349511/spotify.svg"
    
  - name: 'Roblox'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/443377/brand-roblox.svg"

  - name: 'Linkedin'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/448234/linkedin.svg"

  - name: 'Netflix'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/303341/netflix-1-logo.svg"

  - name: '2IP.IO'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/415672/address-location-map.svg"

  - name: 'Twitter'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/452121/twitter-1.svg"

  - name: 'Instagram'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/452229/instagram-1.svg"

  - name: 'Google'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/475656/google-color.svg"

  - name: 'Google Play'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/353828/google-play-icon.svg"

  - name: 'Whatsapp'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/349563/whatsapp.svg"

  - name: 'Microsoft'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/452062/microsoft.svg"

  - name: 'GitHub'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/475654/github-color.svg"

  - name: 'Notion'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/361558/notion-logo.svg"

  - name: 'Tidal'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/504993/tidal.svg"

  - name: 'Telegram'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/354443/telegram.svg"

  - name: 'TikTok'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/349530/tiktok.svg"

  - name: 'Twitch'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/448251/twitch.svg"

  - name: 'RU трафик'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/508628/flag-ru.svg"

  - name: 'Остальной трафик'
    type: select
    exclude-filter: "(?i)Russia|RU"
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/293111/maps-and-flags-global.svg"

  - name: 'Блокировка рекламы'
    type: select
    proxies: [ REJECT, DIRECT, 'PROXY' ]
    icon: "https://www.svgrepo.com/show/300290/sign-roadblock.svg"

  - name: 'YouTube'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/13671/youtube.svg"

  - name: 'Facebook'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/475647/facebook-color.svg"

  - name: 'OpenAI'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/306500/openai.svg"

  - name: 'Steam'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/452107/steam.svg"

  - name: 'other'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/462111/netflix.svg"

  - name: 'intel'
    type: select
    proxies: [ 'PROXY', DIRECT ]
    icon: "https://www.svgrepo.com/show/349412/intel.svg"

  - name: GLOBAL
    type: select
    hidden: true
    proxies:
      - 'YouTube'
      - 'Netflix'
      - 'Google'
      - 'Google Play'
      - 'Microsoft'
      - 'intel'
      - 'OpenAI'
      - 'Gemini'
      - 'Apple'
      - 'GitHub'
      - 'Roblox'
      - 'Steam'
      - 'Twitter'
      - 'Instagram'
      - 'Linkedin'
      - 'Facebook'
      - 'Twitch'
      - 'TikTok'
      - 'Discord'
      - 'Telegram'
      - 'Whatsapp'
      - '18+'
      - 'Fastly'
      - 'Notion'
      - 'Spotify'
      - 'boosty'
      - 'Tidal'
      - 'Speedtest'
      - '2IP.IO'
      - 'Блокировка рекламы'
      - 'RU трафик'
      - 'other'
      - 'Остальной трафик'
      - DIRECT

# --- ПРОВАЙДЕРЫ ПРАВИЛ ---
anchors:
  a1: &domain { type: http, format: mrs, behavior: domain, interval: 86400 }
  a2: &ipcidr { type: http, format: mrs, behavior: ipcidr, interval: 86400 }
  a3: &classical { type: http, format: text, behavior: classical, interval: 86400 }
  a4: &inline { type: inline, behavior: classical }

rule-providers:
  hagezi_pro:
    type: http
    behavior: domain
    format: mrs
    url: "https://github.com/zxc-rv/ad-filter/releases/latest/download/adlist.mrs"
    path: ./adblock/adlist.mrs
    interval: 86400

  discord@classical: { <<: *classical, url: https://github.com/ChapaGG/Mihomo/raw/main/rules/discord.list }
  refilter@domain: { <<: *domain, url: https://github.com/legiz-ru/mihomo-rule-sets/raw/main/re-filter/domain-rule.mrs }

# --- ПРАВИЛА МАРШРУТИЗАЦИИ ---
rules:
  # Блокировки: Реклама
  - GEOSITE,category-ads-all,Блокировка рекламы
  - RULE-SET,hagezi_pro,Блокировка рекламы

  # Системные правила
  - GEOIP,private,DIRECT,no-resolve

  # Российский трафик
  - DOMAIN-SUFFIX,avito.ru,DIRECT
  - DOMAIN-SUFFIX,avito.st,DIRECT
  - GEOSITE,category-ru,RU трафик
  - DOMAIN-SUFFIX,ru,RU трафик
  - DOMAIN-SUFFIX,by,RU трафик
  - DOMAIN-SUFFIX,xn--p1ai,RU трафик
  - DOMAIN-SUFFIX,yandex-pogoda.static-storage.net,RU трафик
  - GEOSITE,category-gov-ru,RU трафик
  - GEOIP,RU,RU трафик,no-resolve
  
  # Правила для конкретных сервисов
  - OR,((DOMAIN-SUFFIX,gql.twitch.tv),(DOMAIN-SUFFIX,usher.ttvnw.net)),Twitch
  - GEOSITE,openai,OpenAI
  - RULE-SET,discord@classical,Discord
  - GEOSITE,tidal,Tidal
  - GEOSITE,linkedin,Linkedin
  - GEOSITE,facebook,Facebook
  - GEOSITE,netflix,Netflix
  - GEOIP,netflix,Netflix
  - GEOSITE,spotify,Spotify
  - GEOSITE,instagram,Instagram
  - GEOSITE,steam,Steam
  - GEOSITE,apple,Apple
  - GEOSITE,youtube,YouTube
  - GEOSITE,twitter,Twitter
  - GEOSITE,tiktok,TikTok
  - GEOSITE,intel,intel
  - GEOSITE,notion,Notion
  - GEOSITE,google,Google
  - GEOSITE,google-play,Google Play
  - GEOSITE,google-gemini,Gemini
  - GEOSITE,github,GitHub
  - GEOSITE,microsoft,Microsoft
  - GEOSITE,telegram,Telegram
  - GEOIP,telegram,Telegram
  - GEOIP,fastly,Fastly
    
  # Roblox открыть порты xkeen -ap 80,443,49152:65535
  - AND,((IP-ASN,22697),(DST-PORT,49152-65535)),Roblox
  - DOMAIN-SUFFIX,roblox.com,Roblox
  - DOMAIN-SUFFIX,rbxcdn.com,Roblox
  - DOMAIN-SUFFIX,rbxinfra.net,Roblox
  
  # Whatsapp // открывам порты xkeen -ap 443,3478,46420
  - GEOSITE,whatsapp,Whatsapp
  - IP-ASN,32934,Whatsapp
  - IP-ASN,11917,Whatsapp
  - IP-ASN,9002,Whatsapp

  # Проверки
  - DOMAIN-SUFFIX,2ip.io,2IP.IO
  - GEOSITE,speedtest,Speedtest
  - GEOSITE,ookla-speedtest,Speedtest
  - GEOSITE,category-speedtest,Speedtest 

  # Необходимые сервисы с выбором 18+
  - GEOSITE,category-porn,18+
  - DOMAIN-SUFFIX,onlyfans.com,18+
  - DOMAIN-SUFFIX,fansly.com,18+
  - DOMAIN-SUFFIX,patreon.com,18+
  
  # Необходимые сервисы other
  - DOMAIN-SUFFIX,nnmclub.to,other
  - DOMAIN-SUFFIX,rutracker.org,other
  - DOMAIN-SUFFIX,4pda.to,other
  - DOMAIN-SUFFIX,habr.com,other
  - DOMAIN-SUFFIX,flibusta.is,other
  - DOMAIN-SUFFIX,lostfilm.tv,other
  - DOMAIN-SUFFIX,kinozal.tv,other
  - DOMAIN-SUFFIX,amnezia.org,other
  - DOMAIN-SUFFIX,rockblack.su,other
  - DOMAIN-SUFFIX,rockblack.pro,other
  - DOMAIN-SUFFIX,dell.com,other
  - DOMAIN-SUFFIX,jabra.com,other
  - DOMAIN-SUFFIX,broadcom.com,other
  - DOMAIN-SUFFIX,capcut.com,other
  - DOMAIN-SUFFIX,surveymonkey.com,other
  - DOMAIN-SUFFIX,citrix.com,other
  - DOMAIN-SUFFIX,veeam.com,other
  - DOMAIN-SUFFIX,iherb.com,other
  - DOMAIN-SUFFIX,lichess.org,other
  - DOMAIN-SUFFIX,gemalto.com,other
  - DOMAIN-SUFFIX,thalesgroup.com,other
  - MATCH,DIRECT,Остальной трафик
