# --- СПИСОК ПРОКСИ ПРОВАЙДЕРОВ --- 
proxy-providers:
  proxy_main:
    type: file
    path: ./proxies.yaml			  # Relative or absolute path to your file
    interval: 86400         		# Optional: Update interval in seconds (e.g., once a day)
    exclude-filter: ".*_R.*"    # Optional: Exclude nodes matching a regex
 
  proxy_reserve:
    type: file
    path: ./proxies.yaml			  # Relative or absolute path to your file
    interval: 86400         		# Optional: Update interval in seconds (e.g., once a day)
    filter: "_R"                # Optional: Filter nodes by name/keyword

# --- ОБЩИЕ НАСТРОЙКИ ЯДРА ---
log-level: silent
redir-port: 1082
tproxy-port: 1081
mixed-port: 1080
find-process-mode: "off"
unified-delay: true
tcp-concurrent: true
allow-lan: true
mode: rule
geodata-mode: true
geo-auto-update: true
geo-update-interval: 168
ipv6: false
external-controller: 0.0.0.0:9090
external-ui: ./zash
external-ui-url: https://github.com/Zephyruso/zashboard/releases/latest/download/dist-cdn-fonts.zip
secret: "P@ssw0rd"      # Простой пароль на веб панель
profile: { store-selected: true }

# --- НАСТРОЙКИ СНИФФЕРА ---
sniffer:
  enable: true
  sniff:
    HTTP:
    TLS:

# --- НАСТРОЙКИ GEO-ДАННЫХ ---
geox-url:
  geosite: "https://github.com/v2fly/domain-list-community/releases/latest/download/dlc.dat"
  geoip: "https://github.com/MetaCubeX/meta-rules-dat/releases/latest/download/geoip.dat"

# --- ГРУППЫ ПРОКСИ (ПОЛИТИКИ) ---
proxy-groups:

  - name: Main
    type: url-test
    icon: https://cdn.jsdelivr.net/gh/ChapaGG/Mihomo@main/icons/next_green.svg
    use:
      - proxy_main
    url: 'https://www.gstatic.com/generate_204'
    interval: 300
    tolerance: 150  # Допустимая погрешность при переключении узлов, измеряется в миллисекундах (мс).
    hidden: true

  - name: Reserve
    type: url-test
    icon: https://cdn.jsdelivr.net/gh/ChapaGG/Mihomo@main/icons/next_yellow.svg
    use:
      - proxy_reserve
    url: 'https://www.gstatic.com/generate_204'
    interval: 300
    tolerance: 150  # Допустимая погрешность при переключении узлов, измеряется в миллисекундах (мс).
    hidden: true

  - name: VPN pass
    type: url-test
    icon: https://cdn.jsdelivr.net/gh/ChapaGG/Mihomo@main/icons/double-arrows.svg
    proxies: [ Main, Reserve ]
    url: 'https://www.gstatic.com/generate_204'
    interval: 300
    #lazy: true
    timeout: 5000
    max-failed-times: 5

  - name: Speedtest
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/355484/speed.svg
    
  - name: Apple
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/506958/clo-bowler.svg
  
  - name: Discord
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/331368/discord-v2.svg

  - name: Spotify
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/349511/spotify.svg
    
  - name: Roblox
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://cdn.jsdelivr.net/gh/ChapaGG/Mihomo@main/icons/Roblox.png

  - name: Supercell
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://cdn.jsdelivr.net/gh/ChapaGG/Mihomo@main/icons/Supercell.png

  - name: 2IP.IO
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/415672/address-location-map.svg

  - name: Twitter
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/452121/twitter-1.svg

  - name: Google
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/475656/google-color.svg

  - name: Whatsapp
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/349563/whatsapp.svg

  - name: GitHub
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/475654/github-color.svg

  - name: Telegram
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/354443/telegram.svg

  - name: Meta
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://github.com/zxc-rv/assets/raw/main/group-icons/meta.png

  - name: TikTok
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/349530/tiktok.svg

  - name: Twitch
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/448251/twitch.svg
    
  - name: Reddit
    type: select
    icon: https://www.svgrepo.com/show/452094/reddit.svg
    include-all: true
    proxies: [ VPN pass, DIRECT ]

  - name: RU трафик
    type: select
    include-all: true
    proxies: [ DIRECT ]
    icon: https://www.svgrepo.com/show/508628/flag-ru.svg

  - name: YouTube
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/13671/youtube.svg

  - name: OpenAI
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://cdn.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Bot.png

  - name: Steam
    type: select
    include-all: true
    proxies: [ DIRECT ]
    icon: https://www.svgrepo.com/show/452107/steam.svg

  - name: CDN
    type: select
    icon: https://www.svgrepo.com/show/396567/globe-with-meridians.svg
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    
  - name: ReFilter
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://cdn.jsdelivr.net/gh/ChapaGG/Mihomo@main/icons/ReFilter.png

  - name: Other
    type: select
    include-all: true
    proxies: [ VPN pass, DIRECT ]
    icon: https://www.svgrepo.com/show/462111/netflix.svg

  - name: Остальной трафик
    type: select
    include-all: true
    proxies: [ DIRECT ]
    exclude-filter: "(?i)Russia|RU"    
    icon: https://www.svgrepo.com/show/293111/maps-and-flags-global.svg

  - name: Реклама
    type: select
    include-all: true
    proxies: [ REJECT, DIRECT ]
    icon: https://www.svgrepo.com/show/300290/sign-roadblock.svg

  - name: GLOBAL
    type: select
    hidden: true
    proxies:
      - VPN pass
      - 2IP.IO
      - YouTube
      - Speedtest
      - Discord
      - Google
      - OpenAI
      - Apple
      - GitHub
      - Roblox
      - Supercell
      - Steam
      - Twitter
      - Twitch
      - Reddit
      - TikTok
      - Telegram
      - Meta
      - Whatsapp
      - Spotify
      - CDN
      - ReFilter
      - Other
      - RU трафик
      - Остальной трафик
      - Реклама
      - DIRECT

# --- ПРОВАЙДЕРЫ ПРАВИЛ ---
anchors:
  a1: &domain { type: http, format: mrs, behavior: domain, interval: 86400 }
  a2: &ipcidr { type: http, format: mrs, behavior: ipcidr, interval: 86400 }
  a3: &classical { type: http, format: text, behavior: classical, interval: 86400 }
  a4: &inline { type: inline, behavior: classical }

rule-providers:
  adlist@domain: { <<: *domain, url: https://github.com/zxc-rv/ad-filter/releases/latest/download/adlist.mrs }
  akamai@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/akamai.mrs }
  akamai@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/akamai@ipcidr.mrs }
  amazon@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/amazon.mrs }
  amazon@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/amazon@ipcidr.mrs }
  apple@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/apple.mrs }
  category-ai@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-ai-!cn.mrs }
  cdn77@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/cdn77@ipcidr.mrs }
  category-ru@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-ru.mrs }
  cloudflare@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/cloudflare.mrs }
  cloudflare@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/cloudflare@ipcidr.mrs }
  digitalocean@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/digitalocean.mrs }
  digitalocean@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/digitalocean@ipcidr.mrs }
  discord@classical: { <<: *classical, url: https://github.com/zxc-rv/assets/raw/main/rules/discord.list }
  fastly@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/fastly.mrs }
  fastly@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/fastly@ipcidr.mrs }
  gcore@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/gcore@ipcidr.mrs }
  github@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/github.mrs }
  google@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/google.mrs }
  google@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/google@ipcidr.mrs }
  hetzner@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/hetzner.mrs }
  hetzner@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/hetzner@ipcidr.mrs }
  meta@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/meta.mrs }
  meta@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/meta@ipcidr.mrs }
  oracle@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/oracle.mrs }
  oracle@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/oracle@ipcidr.mrs }
  ovh@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/ovh@ipcidr.mrs }
  reddit@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/reddit.mrs }
  refilter@domain: { <<: *domain, url: https://github.com/legiz-ru/mihomo-rule-sets/raw/main/re-filter/domain-rule.mrs }
  roblox@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/roblox.mrs }
  scaleway@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/scaleway@ipcidr.mrs }
  spotify@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/spotify.mrs }
  steam@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/steam.mrs }
  speedtest@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/speedtest.mrs }
  supercell@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/supercell.mrs }
  telegram@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/telegram.mrs }
  telegram@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/telegram@ipcidr.mrs }
  tiktok@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/tiktok.mrs }
  twitch@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/twitch.mrs }
  twitter@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/twitter.mrs }
  vultr@ipcidr: { <<: *ipcidr, url: https://github.com/zxc-rv/zkeenip-rulesets/releases/latest/download/vultr@ipcidr.mrs }
  youtube@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/youtube.mrs }
  whatsapp@domain: { <<: *domain, url: https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/whatsapp.mrs }
  user@classical: # СВОИ ПРАВИЛА
    type: inline
    behavior: classical
    payload: # Типы правил и примеры: https://wiki.metacubex.one/ru/config/rules/
      - DOMAIN-KEYWORD,rvpn
      - IP-ASN,1273   # Telegram, но его нет в zkeenip
      #- DOMAIN-KEYWORD,lichess
      #- DOMAIN-SUFFIX,habrastorage.org
      #- DOMAIN-SUFFIX,thalesgroup.com
      #- DOMAIN-SUFFIX,leo.leung.xyz


# --- ПРАВИЛА МАРШРУТИЗАЦИИ ---
rules:
  # Блокировки
  - AND,((DST-PORT,443),(NETWORK,UDP)),REJECT # Блокировка QUIC
  - RULE-SET,adlist@domain,Реклама

  # Проверки
  - DOMAIN-SUFFIX,2ip.io,2IP.IO
  - RULE-SET,speedtest@domain,Speedtest
  
  # Roblox открыть порты xkeen -ap 80,443,49152:65535
  - RULE-SET,roblox@domain,Roblox
  - AND,((IP-ASN,22697),(DST-PORT,49152-65535)),Roblox
  
  # Supercell Открыть порт 9339 xkeen -ap 9339
  - RULE-SET,supercell@domain,Supercell
  - AND,((IP-ASN,14618),(DST-PORT,9339)),Supercell
  - AND,((IP-ASN,16509),(DST-PORT,9339)),Supercell
  
  # Whatsapp // открывам порты xkeen -ap 443,3478,46420
  - RULE-SET,whatsapp@domain,Whatsapp
  - IP-ASN,32934,Whatsapp
  - IP-ASN,11917,Whatsapp
  - IP-ASN,9002,Whatsapp

  # Правила для конкретных сервисов
  - RULE-SET,category-ai@domain,OpenAI
  - RULE-SET,steam@domain,Steam
  - RULE-SET,spotify@domain,Spotify
  - RULE-SET,reddit@domain,Reddit
  - RULE-SET,youtube@domain,YouTube
  - RULE-SET,discord@classical,Discord
  - RULE-SET,tiktok@domain,TikTok
  - RULE-SET,twitch@domain,Twitch
  - RULE-SET,twitter@domain,Twitter
  - OR,((RULE-SET,meta@domain),(RULE-SET,meta@ipcidr,no-resolve)),Meta
  - OR,((RULE-SET,telegram@domain),(RULE-SET,telegram@ipcidr,no-resolve)),Telegram
  - RULE-SET,apple@domain,Apple
  - RULE-SET,github@domain,GitHub
  - OR,((RULE-SET,google@domain),(RULE-SET,google@ipcidr)),Google
  - RULE-SET,refilter@domain,ReFilter
  - RULE-SET,user@classical,Other

  # Российский трафик
  - RULE-SET,category-ru@domain,RU трафик

  # CDN
  - OR,((RULE-SET,amazon@domain),(RULE-SET,amazon@ipcidr)),CDN
  - OR,((RULE-SET,akamai@domain),(RULE-SET,akamai@ipcidr)),CDN
  - OR,((RULE-SET,cloudflare@domain),(RULE-SET,cloudflare@ipcidr)),CDN
  - OR,((RULE-SET,digitalocean@domain),(RULE-SET,digitalocean@ipcidr)),CDN
  - OR,((RULE-SET,fastly@domain),(RULE-SET,fastly@ipcidr)),CDN
  - OR,((RULE-SET,oracle@domain),(RULE-SET,oracle@ipcidr)),CDN
  - OR,((RULE-SET,hetzner@domain),(RULE-SET,hetzner@ipcidr)),CDN
  - RULE-SET,scaleway@ipcidr,CDN
  - RULE-SET,ovh@ipcidr,CDN
  - RULE-SET,vultr@ipcidr,CDN
  - RULE-SET,gcore@ipcidr,CDN
  - RULE-SET,cdn77@ipcidr,CDN
  
  # Остальной трафик
  - MATCH,DIRECT,Остальной трафик
